.App{
  .layout-content{
    .ant-layout-content{
      .ant-layout-header{
        button{
          margin-top: 20px;
          float: right;
          margin-right: 10px;
        }
        background-color: #fff;
        .ant-input-search{
          float: right;
          margin-top: 20px;



        }
      }

    background-color: #fff;
    }
    padding: 24px 0;

  }

  aside{
    background-color: white;
    div.ant-layout-sider-trigger{
      position: static;
    }

  }

}
