.App{
  .layout-content{
    .ant-layout-content{

    background-color: #fff;
    }
    padding: 24px 0;

  }

  aside{
    background-color: white;
    div.ant-layout-sider-trigger{
      position: static;
    }

  }

}
